/*Css Commons*/

.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Animates css*/

  /* Expandir*/
  .blur-in-expand {
    animation: blur-in-expand 0.3s linear both
  }

  @keyframes blur-in-expand {
    0% {
      transform: scale(0);
      filter: blur(12px);
      opacity: 0
    }

    100% {
      transform: scale(1);
      filter: blur(0);
      opacity: 1
    }
  }
  /*---------------*/

/* Header*/

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.App {
  background-color: white;
  color: black;
}

.header {
  min-height: 250px;
  color: whitesmoke;
  background-color: #324b4c;
}

.img-logo {
  height: 120px;
  border-radius: 30px;
}


/*-------------------------------*/

/*Body*/

.body {
  min-height: 670px;
  padding: 10px;
  background: -webkit-linear-gradient(right, rgb(165, 180, 252), rgb(192, 132, 252));
}

.img-card {
  height: 200px;
  padding: 10px;
  border-radius: 20px;
}

.img-fondo {
  height: 100%;
}

.home-card {
  border-radius: 8px;
  margin: 10px;
  padding-bottom: 15px;
  background: -webkit-linear-gradient(bottom, rgb(17, 24, 39), rgb(75, 85, 99));
  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
  filter: shadow(color=#999999, direction=135, strength=2);
}

@media (hover:hover) {
  .home-card:hover {
    transition: 400ms;
    transform: translate(10px);
    -webkit-box-shadow: 10px 10px 10px #999;
    -moz-box-shadow: 10px 10px 10px #999;
    filter: shadow(color=#999999, direction=135, strength=2);
  }
}


/*-------------------------------*/

/*Places*/

.img-places {
  height: 100%;
  width: 100%;
  max-height: 370px;
  min-height: 200px;
  max-width: 550px;
  min-width: 215px;
  border-radius: 8px;
}

.img-carousel {
  max-height: 290px;
  min-height: 250px;
}

.info-places {
  margin: 10px;
  padding: 10px;
}

.description {
  text-align: justify;
}

/*-------------------------------*/

/*About*/



/*-------------------------------*/

/*Footer*/

.footer {
  min-height: 150px;
  color: whitesmoke;
  background-color: #324b4c;
}